body {
  margin: 0;
  font-family: Arial;
  background: #0f2027;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.game-container {
  text-align: center;
}

.hud {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  max-width: 400px;
  margin: auto;
}

.canvas-wrapper {
  position: relative;
  width: 90vw;
  max-width: 400px;
  margin: auto;
}

canvas {
  width: 100%;
  background: black;
  border: 2px solid #00ffcc;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background: #00ffcc;
  font-size: 16px;
}

.speed-control {
  margin-top: 15px;
  text-align: center;
}

.speed-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 8px;
}

/* Buttons */
.speed-btn {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  background: #1f1f1f;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover effect */
.speed-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #00ffcc;
}

/* Active button */
.speed-btn.active {
  background: linear-gradient(45deg, #00ffcc, #00ccff);
  color: black;
  box-shadow: 0 0 15px #00ffcc;
}

select {
  padding: 5px;
  border-radius: 5px;
}

.mobile-controls {
  margin-top: 10px;
}

.mobile-controls button {
  font-size: 20px;
}

@media (min-width: 768px) {
  .mobile-controls {
    display: none;
  }
}
